<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SqlFuDatabase;Integrated Security=true;Asynchronous Processing=true;"  providerName="System.Data.SqlClient" />
    <add name="AzureSearchConnection" connectionString="Service=[your service name];Key=[your key];" />
  </connectionStrings>
</configuration>